@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-slide > div {
  margin: 0 15px;
}

.arrow-button {
  height: 70px;
  width: 70px;
  border: none;
  outline: none;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 200ms ease-in-out;
  box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.493);
  &:hover {
    background-color: black;
  }
}
.arrow-button:hover > .arrows {
  color: white;
}
/* .button-container {
  border: 10px solid red;
} */

.slick-track {
  padding-bottom: 20px !important;
}
